---
import ArticleLayout from '@/layouts/ArticleLayout.astro';
import { getCollection } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const articleEntries = await getCollection('article');
  return articleEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<ArticleLayout title={entry.data.title}>
    <article class="max-w-screen-md mx-auto">
        <div
          class="mx-auto my-3 prose prose-base dark:prose-invert prose-a:text-blue-600">
          <Content />
  
          <div class="flex flex-wrap items-center w-full gap-3 md:w-auto">
            {
              entry.data.tags.map((tag) => (
                <span class="text-sm text-gray-500">#{tag}</span>
              ))
            }
          </div>
        </div>
  
        <div class="flex justify-center mt-7 mb-7">
          <a
            href="/"
            class="px-5 py-3 text-sm text-blue-600 transition rounded-md dark:text-blue-500 bg-blue-50 hover:bg-blue-100">
            ← View all posts
          </a>
        </div>
      </article>
</ArticleLayout>