---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to KODE team.">
  <main>
    <img src="/logo.png" alt="KODE team Logo" width="150px" />
    <h1>Welcome to &nbsp;<span class="text-gradient">KODE team</span></h1>
    <p class="instructions">
      <strong>K</strong>orea <strong>O</strong>penSource <strong>D</strong
      >eveloper & <strong>D</strong>esigner t<strong>e</strong>am
    </p>
  </main>
  <div class="community">
    <a href="https://github.com/kode-team" target="_blank">Github</a>
    <a href="https://twitter.com/kodeteam2" target="_blank">Twitter</a>
    <a href="https://discord.gg/JCcEmR2yec" target="_blank">Discord</a>
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 3rem;
    /* max-width: 60ch; */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    margin-top: -50px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    /* flex: 1 1 auto; */
    display: block;
    width: 100%;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    /* border: 1px solid rgba(var(--accent), 25%); */
    /* background-color: white; */
    padding: 1rem;
    border-radius: 0.4rem;
    /* color: black; */
    text-align: center;
    font-size: 2rem;

    /* white-space: nowrap; */
    /* flex: none; */
    /* height: 300px; */
    letter-spacing: 0.15em;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  .community {
    position: fixed;
    bottom: 100px;
    color: white;
    text-align: center;
    left: 0px;
    right: 0px;
  }

  .community a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
  }

  @media (max-width: 400px) {
    .instructions {
      font-size: 1.5rem;
    }

    .community {
      bottom: 50px;
    }

    .community a {
      margin: 0 10px;
    }
  }

  @media (max-width: 600px) {
    .instructions {
      font-size: 1.5rem;
    }

    .community {
      bottom: 50px;
    }

    .community a {
      margin: 0 10px;
    }
  }
</style>
